.dub
dub.selections.json
docs.json
__dummy.html
docs/
qmake-ng.so
qmake-ng.dylib
qmake-ng.dll
qmake-ng.a
qmake-ng.lib
qmake-ng-test-*
*.exe
*.o
*.obj
*.lst

# Binaries
qmake-ng
qmake-ng.settings

# macOS
.DS_Store

# VSCode
.vscode/
